################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Bulky/FileContentIndex/2549a2f1-d835-4c13-b967-a43d308d23f0.vsidx
