@model Category

<form method="post">
    <div class="border mt-4 p-3">
        <div class="row pb-2">
            <h4>Category Create</h4><hr />
        </div>
        @* <div asp-validation-summary="All" class="text-danger"></div> *@
        <div class="row mb-3">
            <label asp-for="Name" class="p-0"> </label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="DisplayOrder" class="p-0"> </label>
            <input asp-for="DisplayOrder" class="form-control"/>
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <input type="submit" class="form-control btn btn-primary" name="create" />
            </div>
            <div class="col-6 col-md-3">
                <a class="form-control btn btn-secondary border" asp-controller="category" asp-action="index">go to list</a>
            </div>

        </div>
    </div>
</form>

@section   Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}